.hero h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.hero {
  box-sizing: border-box;
  /* Full screen hero section */
  width: 100%;
  min-height: 100dvh;
  background: #1a531ac7;
  color: white;
  font-family: Futura;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.hero a {
  color: white;
  text-decoration: underline;
  text-decoration-color: #000000;
}

/* A little "activation" to demonstrate JS is working in the template */
.hero {
  transition: background 0.5s;
}
.hero.active {
  background: #c6093b00;
}
.hero.active a {
  color: white;
  text-decoration-color: #0033a0;
}

@media (max-width: 800px) {
  .hero {
    font-size: 45px;
  }
}

@media (min-width: 801px) {
  .hero {
    font-size: 75px;
  }
}

.hero h4{
font-size: 100px;
}
